/* Reset some default spacing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Make the page fill at least the full height of the viewport */
html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0A192F; /* Dark Blue */
    color: #E0E0E0; /* Light Gray */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header */
header {
    background-color: #112240; /* Slightly lighter dark blue */
    padding: 20px;
    font-size: 32px;
    color: #64FFDA; /* Cyan Accent */
}

/* Game Sections */
.game-section {
    padding: 40px 20px;
    background-color: #112240;
    margin-top: 40px;
    color: #64FFDA;
    border-radius: 10px;
    width: 80%;  /* Ensure the games aren't too wide */
    max-width: 900px;
}

.game-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Game Container */
.game-container {
    width: 800px;
    height: 600px;
    background-color: #333; /* Optional, just to visualize the container */
    border-radius: 10px; /* Optional, rounded corners */
    margin: 0 auto;
}

/* Gallery Section */
#gallery {
    padding: 40px 20px;
    background-color: #112240;
    color: #64FFDA;
    width: 80%;  /* Ensure gallery is centered */
    max-width: 900px;
    margin-top: 40px;
}

#gallery h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-grid img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* Footer */
footer {
    padding: 20px;
    background-color: #112240;
    font-size: 14px;
    color: #64FFDA;
    line-height: 1.6;
    font-weight: bold;
    margin-top: auto;
}
